@import "/Users/mattadelberger/Documents/Eclipse/artistwagonapp/src/main/webapp/assets/master/less/app";


@brand-primary-color: #0076C4;
@brand-primary-color-darker: #0062A3;

@brand-secondary-color: #34B701;
@brand-secondary-color-darker: #2FA201;
@brand-secondary-color-darkest: #298E01;

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	background: #FCFCFA;
	font-size: 16px;
}

.topnavbar {
    background-color: @brand-primary-color;
    background-image: none;
}

.wrapper>.aside {
    background: inherit;
}

.breadcrumb {
    background: inherit;
}
 
.btn-primary {
    background-color: @brand-secondary-color;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: @brand-secondary-color-darker;
    border-color: @brand-secondary-color-darkest;
}

.btn-default {
    background-color: @brand-primary-color;
    color: #FFF;
}

.btn-default:hover,
.btn-default:focus{
    background-color: @brand-primary-color-darker;
    border-color: @brand-primary-color-darker;
    color: #FFF;
}

.brand-logo {
	color: #FFF;
	font-size: 28px;
	margin-top: 5px;
}

.nav-wrapper {
	box-shadow: none;
}

a {
    color: @brand-primary-color-darker;
}

a:hover, a:focus {
    color: @brand-primary-color-darker;
}

.form-control:focus {
    border-color: @brand-primary-color;
}

.topnavbar .navbar-nav>.open>a, 
.topnavbar .navbar-nav>.open>a:hover, 
.topnavbar .navbar-nav>.open>a:focus {
    box-shadow: none;
}

.alert-dismissible .close {
    top: 1px;
}

.topnavbar .navbar-nav > li > a {
	font-size: 18px;
}

.topnavbar .navbar-nav>li>a:hover,
.topnavbar .navbar-nav>li>a:focus,
.topnavbar .navbar-nav>.open>a:focus{
    color: #DDD;
}

.registration-panel {
    margin-top: 40px;
}

.login-panel {
	margin-top: 160px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}

.topnavbar .navbar-header {
    width: inherit;
}

.wrapper > section {
	background: #FCFCFA;
}

.btn {
	font-size: 16px;
}

.modal-header .close {
    margin-top: 8px;
}

.modal-backdrop.in {
    opacity: 0.7;
}

.modal-backdrop {
    background-color: #FFFFFF;
}

.modal-content {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.uk-notify {
    width: 500px;
    top: 25px;
    z-index: 9999;
    margin-left: -250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.uk-notify-message {
    margin-bottom: 0 !important;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}